@using SoccerLeague.UI.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MatchResponseModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArenaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArenaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuestGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div>
    @if (Model.AuthorId == User.GetId())
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    }
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>