@using SoccerLeague.UI.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TeamResponseModel

@{
    ViewData["Title"] = "Team Details";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.LogoUrl" width="250" height="200" alt=""/>
        </dd>
    </dl>
</div>
<div>
    @if (Model.AuthorId == User.GetId())
    {
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    }
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>